/*О нас*/
.about__text{
    max-width: 1048px;
    font-size: 45px;
    line-height: 61px;
    padding-bottom: 30px;
    color: #121212;
    letter-spacing: -0.03em;
}
.about__btn{
    font-size: 20px;
    line-height: 27px;
    background-color: #ad1818;
    display: block;
    align-items: center;
    text-decoration: none;
    padding: 20px 40px;
    gap: 10px;
    border-radius: 5px;
    position: absolute;
    color: #fff;
    letter-spacing: -0.03em;
}
.about__btn:hover{
    color: #fff;
    background: #ad1818;
}
@media (max-width: 1199px) and (min-width: 820px) {
    /*О нас*/
    .about__text{
        width: 85%;
        font-size: calc(35px + 10 * (100vw - 820px) / 379);
        line-height: calc(47px + 14 * (100vw - 820px) / 379);
    }
    .about__btn {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 819px) and (min-width: 576px) {
    /*О нас*/
    .about__text{
        width: 94%;
        font-size: calc(35px + 10 * (100vw - 576px) / 623);
        line-height: calc(47px + 14 * (100vw - 576px) / 623);
    }
    .about__btn {
        font-size: 18px;
        line-height: 25px;
        padding: 18px 30px;
    }
}
@media (max-width: 575px){
    /*О нас*/
    .title{
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .about__text{
        width: 100%;
        font-size: calc(22px + 23 * (100vw - 350px) / 849);
        line-height: calc(30px + 31 * (100vw - 350px) / 849);
    }
    .about__btn {
        font-size: 16px;
        line-height: 22px;
        padding: 14.5px 27px;
    }
}