html{
    scroll-behavior: smooth
}

body{
    font-family: 'Manrope', courier, monospace;
    background: #ffffff;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin: 0 auto;
    letter-spacing: -0.03em;
}

.container{
    max-width: 1150px;
    margin: 0 auto 150px;
    position: relative;
}

/*Шабка сайта*/

.container-header{
    max-width: 1150px;
    margin: 0 auto;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 33px 0 70px;
}

#logo{
    display: block;
}

.menu__list{
    display: flex;
    gap: 40px 60px;
}

.menu__link{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    transition: all 0.5s ease;
    text-decoration: none;
    color: #121212;
    text-transform: uppercase;
}

.menu__link:hover {
    opacity: 0.5;
    border-bottom: 1px solid #000000;
}

/*Заголовок сайта*/

.main__title{
    width: 1000px;
    font-size: 60px;
    line-height: 60px;
    padding: 0 0 30px 0;
    letter-spacing: -0.03em;
}

.main__text{
    margin: 0 auto;
    width: 102.6%;
    height: 500px;
    position: relative;
    background-image: url(../resourscer/Rectangle\ 1@2x.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.main__text > p{
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.03em;
}

/*О нас*/

.title{
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.about__text{
    width: 100%;
    max-width: 1048px;
    font-size: 45px;
    line-height: 61px;
    padding-bottom: 30px;
    color: #121212;
    letter-spacing: -0.03em;
}

.about__btn{
    font-size: 20px;
    line-height: 27px;
    background-color: #ad1818;
    display: block;
    align-items: center;
    text-decoration: none;
    padding: 20px 40px;
    gap: 10px;
    border-radius: 5px;
    position: absolute;
    color: #fff;
    letter-spacing: -0.03em;
}

.about__btn:hover{
    color: #fff;
    background: #ad1818;
}

/*Проекты*/

#project{
    margin: 217px 0 0 0;
}

.projects .project{
    margin: 0 0 90px 0;
}

.project__img{
    width: 100%;
    margin: 0 0 15px 0;
}

.project__rc{
    font-size: 30px;
    line-height: 40px;
    margin: -1px 0 15px 0;
    letter-spacing: -0.03em;
}

.project__more{
    margin: -2px 0 0 0;
    font-size: 20px;
    line-height: 27px;
    color: #ad1818; 
    text-decoration: none;
    letter-spacing: -0.03em;
}

.project__link{
    width: 100%;
    height: 152px;
    font-size: 30px;
    line-height: 145px;
    letter-spacing: -0.03em;
    color: #ad1818;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #ad1818;
    border-radius: 5px; 
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 150px;
}

.project__link:hover{
    color: #fff;
    background-color: #ad1818;
}

/*Услуги*/

#services{
    padding: 151px 0 1px 0;
    margin: 0 auto;
    color: #fff;
    background-color: #121212;
}

.serv:not(:last-child) {
    padding-bottom: 60px;
}

.serv__img{
    width: 100%;
    height: 270px;
}

.serv__text{
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;   
    letter-spacing: -0.03em;
    padding: 12px 0 0 0;
}

.serv__big{
    margin: 0 auto;
    background-size: 100%;
    background-color: #121212;
    line-height: 0;
}

.serv__container{
    width: auto;
    margin: 0 auto;
}

.serv__big-img{
    width: 100%;
    height: auto;
}

.serv__big-text{
    position: absolute;
    bottom: 60px;  
    left: 5px;
    width: 445px; 
    color: #fff;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
}

/*Контакты*/

.contacts__title{
    width: 90px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 58px;
    padding: 40px 0 0 0;
    position: relative;
}

.contacts__title:before{
    content: '';
    display: block;
    position: absolute;
    width: 13px;
    height: 22px;
    background-image: url('../resourscer/Vector@2x.svg');
    bottom: 12px;
}

.contacts__tel{
    color: #121212;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

.contacts__mail{
    color: #121212;
    opacity: 0.5;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.mail__item{
    padding-top: 30px;
}

/*Footer*/

.footer{
    height: 229px;
    color: #fff;
    padding: 70px 0 30px;
    background: #121212;
    text-align: center;
}

.footer-menu {
    padding-bottom: 90px
}

.footer-menu__list {
    display: flex;
    justify-content: center;
    gap: 56px;
}

.footer-menu__link{
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.footer-menu__link:hover {
    opacity: 0.5;
}

.footer__text{
    opacity: 0.5;
}

@media (max-width: 1024px) {
    .main__text > p{
        bottom: 100px;
    }
}

@media (max-width: 1001px) {
    .main__title{
     width: 100%;
     font-size: 35px;
    }
    .main__text > p{
        bottom: 100px;
    }
    .title{
     font-size: 14px;
    }
    .about__text{
     font-size: 25px;
    }
 }
